<%- include ("templates/cabecera", {tituloweb: 'Crear nueva mascota'}) %>

    
    <h1 class="text-primary">Titulo de mi sitio web Index</h1>
    <h2><%= titulo %></h2>



<%- include ("templates/footer") %>